@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: SF Pro;
  src: url('./assets/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF');
}

body {
  font-family: SF Pro;
}



.App {
  background-color: #0B0B0B;
  font-family: SF Pro;
  font-weight: 860;
  min-height: 100vh;
  height: 100%;
}